body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  box-sizing: border-box;
  width: 450px;
  height: 225px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  font-size: 20px;
  background: #e3f4ff;
  padding: 5px;
  margin: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
}

.button-container {
  box-sizing: border-box;
  height: 75px;
  width: auto;
  background: #e3f4ff;
  margin: 10px;
  padding-top: 10px;
  text-align: center;
  /*padding-left: 170px;*/
}

button {
  /*box-sizing: border-box;*/
  display: block;
  padding: 10px 20px;
  background: white;
  margin: 0 auto;
  border: 1px solid #eee;
}